.background {
    width: 1366px;
    height: 60px;
    background-color: #000000 !important;
}
.lateralLogo {
    margin-left: 30px;
}
.avalith {
    width: 35px;
    height: 39px;
    margin-left: 30px;
    margin-top: 10px;
}